In [ ]:
import sqlite3
from datetime import date

---
## Paso 1: Crear la Base de Datos y Tablas
---
#### Conexi√≥n a nuestra base de datos:

In [ ]:
# Crear y conectar a la base de datos SQLite
conn = sqlite3.connect('PRODUCTOS.db')
cursor = conn.cursor()

In [ ]:
# conn.close()#cerrar conexion BD

#### **Creaci√≥n de tablas en nuestra base de datos:** ####
- **fabricantes:** con informaci√≥n sobre los fabricantes.
- **categorias:** con las categor√≠as de productos.
- **productos:** con detalles de productos.
- **rese√±as:** con las rese√±as de clientes.

## üìÇ Estructura de las Tablas

### **1Ô∏è‚É£ Tabla `fabricantes`**
Guarda la informaci√≥n de los fabricantes de los productos.

| Columna | Tipo de Dato | Descripci√≥n y Restricciones |
|---------|-------------|----------------------------|
| `id` | `INTEGER` | Identificador √∫nico del fabricante (`PRIMARY KEY`). |
| `nombre` | `TEXT` | Nombre del fabricante (`NOT NULL`). |
| `pais` | `TEXT` | Pa√≠s de origen del fabricante (`NOT NULL`). |

---

### **2Ô∏è‚É£ Tabla `categorias`**
Almacena las diferentes categor√≠as en las que se pueden clasificar los productos.

| Columna | Tipo de Dato | Descripci√≥n y Restricciones |
|---------|-------------|----------------------------|
| `id` | `INTEGER` | Identificador √∫nico de la categor√≠a (`PRIMARY KEY`). |
| `nombre` | `TEXT` | Nombre de la categor√≠a (`NOT NULL`). |

---

### **3Ô∏è‚É£ Tabla `productos`**
Guarda informaci√≥n detallada sobre los productos.

| Columna | Tipo de Dato | Descripci√≥n y Restricciones |
|---------|-------------|----------------------------|
| `id` | `INTEGER` | Identificador √∫nico del producto (`PRIMARY KEY`). |
| `nombre` | `TEXT` | Nombre del producto (`NOT NULL`). |
| `precio` | `REAL` | Precio del producto en moneda local (`NOT NULL`, **no puede ser negativo**). |
| `fecha_lanzamiento` | `DATE` | Fecha de lanzamiento del producto (`NOT NULL`, formato `YYYY-MM-DD`). |
| `fabricante_id` | `INTEGER` | Identificador del fabricante (**clave for√°nea** que referencia `fabricantes.id`). |
| `categoria_id` | `INTEGER` | Identificador de la categor√≠a (**clave for√°nea** que referencia `categorias.id`). |

---

### **4Ô∏è‚É£ Tabla `rese√±as`**
Registra las rese√±as que los clientes dejan sobre los productos.

| Columna | Tipo de Dato | Descripci√≥n y Restricciones |
|---------|-------------|----------------------------|
| `id` | `INTEGER` | Identificador √∫nico de la rese√±a (`PRIMARY KEY`). |
| `producto_id` | `INTEGER` | Identificador del producto rese√±ado (`NOT NULL`, **clave for√°nea** que referencia `productos.id`). |
| `puntuacion` | `INTEGER` | Puntuaci√≥n dada por el cliente (`NOT NULL`, valores entre **1 y 5**). |
| `comentario` | `TEXT` | Comentario opcional del cliente (puede ser `NULL`). |
| `fecha` | `DATE` | Fecha de la rese√±a (`NOT NULL`, formato `YYYY-MM-DD`). |

In [ ]:
# Creaci√≥n de la tabla de fabricantes

cursor.execute('''CREATE TABLE IF NOT EXISTS fabricantes (
                    id INTEGER PRIMARY KEY,
                    nombre TEXT NOT NULL,
                    pais TEXT NOT NULL
                )''')

In [ ]:
# Creaci√≥n de la tabla de categor√≠as

cursor.execute('''CREATE TABLE IF NOT EXISTS categorias (
                    id INTEGER PRIMARY KEY,
                    nombre TEXT NOT NULL
                )''')

In [ ]:
# Creaci√≥n de la tabla de productos

cursor.execute('''CREATE TABLE IF NOT EXISTS productos (
                    id INTEGER PRIMARY KEY,
                    nombre TEXT NOT NULL,
                    precio REAL NOT NULL,
                    fecha_lanzamiento DATE NOT NULL,
                    fabricante_id INTEGER,
                    categoria_id INTEGER,
                    FOREIGN KEY(fabricante_id) REFERENCES fabricantes(id),
                    FOREIGN KEY(categoria_id) REFERENCES categorias(id)
                )''')

In [ ]:
# Creaci√≥n de la tabla de rese√±as

cursor.execute('''CREATE TABLE IF NOT EXISTS rese√±as (
                    id INTEGER PRIMARY KEY,
                    producto_id INTEGER NOT NULL,
                    puntuacion INTEGER NOT NULL,
                    comentario TEXT,
                    fecha DATE NOT NULL,
                    FOREIGN KEY(producto_id) REFERENCES productos(id)
                )''')

In [ ]:
# # # Si s√≥lo queremos eliminar una tabla porque nos hemos equivocado, el c√≥digo es as√≠
# cursor.execute(''' DROP TABLE rese√±as;''')  # Ponemos nombre de la tabla 

# Si queremos eliminar una columna de una tabla el c√≥digo es el siguiente:
# cursor.execute(''' ALTER TABLE rese√±as DROP COLUMN fecha;''')  # despu√©s del alter table nombre tabla y luego columna a eliminar

---
## Paso 2: A√±adir informaci√≥n en la Base de Datos
---

#### Insertar datos en las tablas en nuestra base de datos:

In [ ]:
# Insertar datos en la tabla fabricantes
fabricantes = [
    (1, "AI Corp", "EE.UU."),
    (2, "Tech Innovators", "Jap√≥n"),
    (3, "Home Robotics", "Alemania"),
    (4, "Smart Solutions", "Francia"),
    (5, "Voice Masters", "Corea del Sur")
]
cursor.executemany("INSERT INTO fabricantes VALUES (?, ?, ?)", fabricantes)
#

In [ ]:
conn.commit()

In [ ]:
# Insertar datos en la tabla categorias
categorias = [
    (1, "Asistentes de Voz"),
    (2, "Robots de Limpieza"),
    (3, "Seguridad Inteligente")
]
cursor.executemany("INSERT INTO categorias VALUES (?, ?)", categorias)

In [ ]:
# Insertar datos en la tabla productos
productos = [
    (1, "Echo Dot", 49.99, "2022-07-20", 1, 1),
    (2, "Google Home", 89.99, "2021-09-10", 2, 1),
    (3, "Roomba S9", 999.99, "2020-03-15", 3, 2),
    (4, "Nest Cam", 199.99, "2022-01-10", 4, 3),
    (5, "Samsung Bot", 1299.99, "2021-11-05", 5, 2)
]
cursor.executemany("INSERT INTO productos VALUES (?, ?, ?, ?, ?, ?)", productos)

In [ ]:
# Insertar datos en la tabla rese√±as
rese√±as = [
    (1, 1,5 ,"Muy √∫til", "2023-02-05"),
    (2, 1, 4, "Buena calidad", "2023-03-20"),
    (3, 2, 3, "Funciona bien", "2023-05-17"),
    (4, 3, 5, "Excelente para limpiar", "2023-06-02"),
    (5, 4, 2, "No muy confiable", "2023-07-01")
]
cursor.executemany("INSERT INTO rese√±as VALUES (?, ?, ?, ?, ?)", rese√±as)

In [ ]:
# Insertar datos en la tabla rese√±as, uno de ellos lo hacemos nulo para comprobar que no me deja incluirlo
# porque he aplicado un not null al crear la tabla
'''
rese√±as = [
    (6, 1,None,"Muy √∫til", "2023-02-05"),
]
cursor.executemany("INSERT INTO rese√±as VALUES (?, ?, ?, ?, ?)", rese√±as)
'''

In [ ]:
# Guardar los cambios y cerrar la conexi√≥n
conn.commit()
conn.close()

---
# EJERCICIOS Y CONSULTAS EN SQL
---

In [ ]:
#conectar a la base de datos SQLite
conn = sqlite3.connect('productos.db')
cursor = conn.cursor()

1. Obtener todos los productos.

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT * 
                    FROM 
                        productos;
               ''')

# Obtener y mostrar los resultados
cursor.fetchall()

In [ ]:
datos = cursor.fetchall()
for i in datos:
    print(i)

2. Obtener todos los productos que tienen un precio mayor a 100.

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT * 
                    FROM 
                        productos 
                    WHERE precio > 100;
               ''')

# Obtener y mostrar los resultados
cursor.fetchall()

3. Contar cu√°ntos productos hay en la base de datos.

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT COUNT(*) 
                    FROM 
                        productos;
               ''')

# Obtener y mostrar los resultados
cursor.fetchall()

4. Listar los productos lanzados en el a√±o 2022.

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT * 
                    FROM 
                        productos
                    WHERE 
                        strftime('%Y', fecha_lanzamiento) = '2022';
               ''')

# Obtener y mostrar los resultados
cursor.fetchall()

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT * 
                    FROM 
                        productos
                    WHERE 
                        Date(fecha_lanzamiento) >= '2022-01-01';
               ''')

# Obtener y mostrar los resultados
cursor.fetchall()

In [ ]:
# Otra forma:
def itemLanzamiento():
    cursor.execute("SELECT * FROM PRODUCTOS WHERE SUBSTR (fecha_lanzamiento,1,4) ='2022'") #OSCAR - SUBSTR!!!!!
    datos = cursor.fetchall()
    for i in datos:
        print(i)

# Obtener y mostrar los resultados
itemLanzamiento()

5. Obtener el producto m√°s caro.

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT * 
                    FROM 
                        productos 
                    ORDER BY precio DESC LIMIT 1;
               ''')

# Obtener y mostrar los resultados
cursor.fetchall()

In [ ]:
# Otra forma
# Ejecutar la consulta
cursor.execute('''  SELECT 
                        *,
                        max(Precio)     as MaximoPrecio
                    FROM 
                        productos;
               ''')

# Obtener y mostrar los resultados
cursor.fetchall()

6. Calcular el precio promedio de todos los productos.

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT 
                        AVG(precio) AS precio_promedio 
                    FROM 
                        productos;
               ''')

# Obtener y mostrar los resultados
cursor.fetchall()

7. Obtener los productos de la categor√≠a "Asistentes de Voz".

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT 
                        productos.* 
                    FROM 
                        productos
                    JOIN categorias ON productos.categoria_id = categorias.id
                    WHERE categorias.nombre = 'Asistentes de Voz';     ''')

# Obtener y mostrar los resultados
cursor.fetchall()

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT 
                        productos.nombre,
                        categorias.nombre
                    FROM 
                        productos
                    JOIN categorias ON productos.categoria_id = categorias.id
                    WHERE categorias.nombre = 'Asistentes de Voz';     ''')

# Obtener y mostrar los resultados
datos =cursor.fetchall()
for i in datos:
    print(i)

In [ ]:
cursor.execute("""SELECT 
                    c.NOMBRE AS categoria_nombre,
                    p.NOMBRE AS producto_nombre    
                FROM 
                    categorias AS c
                INNER JOIN 
                    productos AS p
                ON c.id = p.categoria_id
                WHERE 
                    p.categoria_id = 1 ;
                """)

datos = cursor.fetchall()
for i in datos:
    print(i)

8. Contar cu√°ntos productos tiene cada fabricante.

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT 
                        fabricantes.nombre, 
                        COUNT(productos.id) AS num_productos
                    FROM 
                        fabricantes
                    LEFT JOIN productos ON fabricantes.id = productos.fabricante_id
                    GROUP BY fabricantes.nombre;    
               ''')

# Obtener y mostrar los resultados
cursor.fetchall()

9. Obtener las rese√±as del producto "Echo Dot".

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT 
                        productos.nombre,
                        rese√±as.puntuacion,
                        rese√±as.comentario,
                        rese√±as.fecha                       
                        
                    FROM 
                        rese√±as
                    JOIN productos ON rese√±as.producto_id = productos.id
                    WHERE productos.nombre = 'Echo Dot';     
               ''')

# Obtener y mostrar los resultados
datos = cursor.fetchall()
for i in datos:
    print(i)

10. Obtener la puntuaci√≥n promedio de cada producto.

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT 
                        productos.nombre, 
                        AVG(rese√±as.puntuacion)     AS puntuacion_promedio
                    FROM 
                        productos
                    LEFT JOIN 
                        rese√±as 
                    ON productos.id = rese√±as.producto_id
                    GROUP BY productos.id;    
               ''')

# Obtener y mostrar los resultados
cursor.fetchall()

11. Listar los fabricantes y el precio promedio de sus productos.

In [ ]:
# Ejecutar la consulta
cursor.execute('''   SELECT 
                        fabricantes.nombre, 
                        AVG(productos.precio)   AS precio_promedio
                    FROM 
                        fabricantes 
                    JOIN productos 
                    ON fabricantes.id = productos.fabricante_id
                    GROUP BY fabricantes.id;   ''')

# Obtener y mostrar los resultados
cursor.fetchall()

12. Listar todas las categor√≠as con al menos un producto.

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT 
                        categorias.nombre
                    FROM 
                        categorias
                    JOIN productos 
                    ON categorias.id = productos.categoria_id
                    GROUP BY categorias.id;    
               ''')

# Obtener y mostrar los resultados
cursor.fetchall()

13. Obtener el producto con la menor puntuaci√≥n en rese√±as.

In [ ]:
# Ejecutar la consulta
cursor.execute('''   SELECT 
                        productos.nombre, 
                        MIN(rese√±as.puntuacion) AS menor_puntuacion
                    FROM 
                        productos
                    JOIN rese√±as 
                    ON productos.id = rese√±as.producto_id
                    GROUP BY productos.id
                    ORDER BY menor_puntuacion ASC
                    LIMIT 1;   
               ''')

# Obtener y mostrar los resultados
cursor.fetchall()

14. Listar las rese√±as de productos lanzados en 2021 o despu√©s.

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT 
                         rese√±as.*
                    FROM 
                         rese√±as
                    JOIN productos 
                    ON rese√±as.producto_id = productos.id
                    WHERE productos.fecha_lanzamiento >= '2021-01-01';    
               ''')

# Obtener y mostrar los resultados
cursor.fetchall()

15. Contar el total de rese√±as por cada producto.

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT 
                        productos.nombre, 
                        COUNT(rese√±as.id)   AS total_rese√±as
                    FROM 
                        productos
                    LEFT JOIN rese√±as 
                    ON productos.id = rese√±as.producto_id
                    GROUP BY productos.id;
               ''')

# Obtener y mostrar los resultados
cursor.fetchall()

16. Listar los productos que no tienen ninguna rese√±a.

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT 
                        productos.nombre
                    FROM 
                        productos
                    LEFT JOIN rese√±as 
                        ON productos.id = rese√±as.producto_id
                    WHERE rese√±as.id IS NULL;
               ''')

# Obtener y mostrar los resultados
cursor.fetchall()

17. Obtener los productos con una puntuaci√≥n promedio mayor o igual a 4.

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT 
                        productos.nombre, 
                        AVG(rese√±as.puntuacion) AS puntuacion_promedio
                    FROM 
                        productos
                    JOIN rese√±as 
                    ON productos.id = rese√±as.producto_id
                    GROUP BY productos.id
                    HAVING puntuacion_promedio >= 4;
               ''')

# Obtener y mostrar los resultados
cursor.fetchall()

18. Listar todos los productos junto con el pa√≠s de su fabricante.

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT  
                        productos.nombre, 
                        fabricantes.pais
                    FROM 
                        productos
                    JOIN fabricantes 
                    ON productos.fabricante_id = fabricantes.id;
               ''')

# Obtener y mostrar los resultados
cursor.fetchall()

19. Obtener la fecha de la √∫ltima rese√±a para cada producto.

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT 
                        productos.nombre, 
                        MAX(rese√±as.fecha) AS ultima_rese√±a
                    FROM 
                        productos
                    LEFT JOIN rese√±as 
                    ON productos.id = rese√±as.producto_id
                    GROUP BY productos.id;
               ''')

# Obtener y mostrar los resultados
cursor.fetchall()

20. Obtener el n√∫mero de rese√±as por mes para cada producto.

In [ ]:
# Ejecutar la consulta
cursor.execute('''  SELECT 
                        strftime('%Y-%m', rese√±as.fecha)        AS mes, 
                        productos.nombre, COUNT(rese√±as.id)     AS num_rese√±as
                    FROM 
                        productos
                    JOIN rese√±as 
                    ON productos.id = rese√±as.producto_id
                    GROUP BY mes, productos.nombre;
                              ''')

# Obtener y mostrar los resultados
cursor.fetchall()