In [1]:
import sqlite3
from datetime import date

---
## Paso 1: Crear la Base de Datos y Tablas
---
#### Conexi√≥n a nuestra base de datos:

In [2]:
# Crear y conectar a la base de datos SQLite
conn = sqlite3.connect('PRODUCTOS.db')

In [3]:
cursor = conn.cursor()

In [4]:
#conn.close() #PAra cerrar la conexion con la BBDD

#### Creaci√≥n de tablas en nuestra base de datos:
- **fabricantes:** con informaci√≥n sobre los fabricantes. id_fabricante es clave primaria, nombre, y pais
- **categorias:** con las categor√≠as de productos. id_categoria es clave primaria, nombre
- **productos:** con detalles de productos. id_productos es clave primaria, nombre,precio,fecha_lanzamiento,fabricante_id,categoria_id
- **rese√±as:** con las rese√±as de clientes. id_rese√±a es clave primaria,producto_id,puntuacion,comentario,fecha

#### **Creaci√≥n de tablas en nuestra base de datos:** ####
- **fabricantes:** con informaci√≥n sobre los fabricantes.
- **categorias:** con las categor√≠as de productos.
- **productos:** con detalles de productos.
- **rese√±as:** con las rese√±as de clientes.

## üìÇ Estructura de las Tablas

### **1Ô∏è‚É£ Tabla `fabricantes`**
Guarda la informaci√≥n de los fabricantes de los productos.

| Columna | Tipo de Dato | Descripci√≥n y Restricciones |
|---------|-------------|----------------------------|
| `id` | `INTEGER` | Identificador √∫nico del fabricante (`PRIMARY KEY`). |
| `nombre` | `TEXT` | Nombre del fabricante (`NOT NULL`). |
| `pais` | `TEXT` | Pa√≠s de origen del fabricante (`NOT NULL`). |

---

### **2Ô∏è‚É£ Tabla `categorias`**
Almacena las diferentes categor√≠as en las que se pueden clasificar los productos.

| Columna | Tipo de Dato | Descripci√≥n y Restricciones |
|---------|-------------|----------------------------|
| `id` | `INTEGER` | Identificador √∫nico de la categor√≠a (`PRIMARY KEY`). |
| `nombre` | `TEXT` | Nombre de la categor√≠a (`NOT NULL`). |

---

### **3Ô∏è‚É£ Tabla `productos`**
Guarda informaci√≥n detallada sobre los productos.

| Columna | Tipo de Dato | Descripci√≥n y Restricciones |
|---------|-------------|----------------------------|
| `id` | `INTEGER` | Identificador √∫nico del producto (`PRIMARY KEY`). |
| `nombre` | `TEXT` | Nombre del producto (`NOT NULL`). |
| `precio` | `REAL` | Precio del producto en moneda local (`NOT NULL`, **no puede ser negativo**). |
| `fecha_lanzamiento` | `DATE` | Fecha de lanzamiento del producto (`NOT NULL`, formato `YYYY-MM-DD`). |
| `fabricante_id` | `INTEGER` | Identificador del fabricante (**clave for√°nea** que referencia `fabricantes.id`). |
| `categoria_id` | `INTEGER` | Identificador de la categor√≠a (**clave for√°nea** que referencia `categorias.id`). |

---

### **4Ô∏è‚É£ Tabla `rese√±as`**
Registra las rese√±as que los clientes dejan sobre los productos.

| Columna | Tipo de Dato | Descripci√≥n y Restricciones |
|---------|-------------|----------------------------|
| `id` | `INTEGER` | Identificador √∫nico de la rese√±a (`PRIMARY KEY`). |
| `producto_id` | `INTEGER` | Identificador del producto rese√±ado (`NOT NULL`, **clave for√°nea** que referencia `productos.id`). |
| `puntuacion` | `INTEGER` | Puntuaci√≥n dada por el cliente (`NOT NULL`, valores entre **1 y 5**). |
| `comentario` | `TEXT` | Comentario opcional del cliente (puede ser `NULL`). |
| `fecha` | `DATE` | Fecha de la rese√±a (`NOT NULL`, formato `YYYY-MM-DD`). |

In [45]:
# Creaci√≥n de la tabla de fabricantes
cursor.execute(
    '''CREATE TABLE IF NOT EXISTS fabricantes(
        id INTEGER PRIMARY KEY,
        nombre TEXT NOT NULL,
        pais TEXT NOT NULL
    )'''
)

In [49]:
# Creaci√≥n de la tabla de categor√≠as
cursor.execute(
    '''CREATE TABLE IF NOT EXISTS categorias(
        id INTEGER PRIMARY KEY,
        nombre TEXT NOT NULL,
        pais TEXT NOT NULL
    )'''
)

In [ ]:
#cursor.execute('''DROP TABLE categorias''')

In [50]:
# Creaci√≥n de la tabla de productos
cursor.execute(
    '''CREATE TABLE IF NOT EXISTS productos(
        id INTEGER PRIMARY KEY,
        nombre TEXT NOT NULL,
        precio REAL NOT NULL,
        fecha_lanzamiento DATE NOT NULL,
        fabricante_id INTEGER,
        categoria_id INTEGER,
        FOREIGN KEY(fabricante_id) REFERENCES fabricantes(id),
        FOREIGN KEY(categoria_id) REFERENCES categorias(id)
    )'''
)

In [51]:
# Creaci√≥n de la tabla de rese√±as
cursor.execute(
    '''CREATE TABLE IF NOT EXISTS rese√±as(
        id INTEGER PRIMARY KEY,
        producto_id INTEGER NOT NULL,
        puntuacion INTEGER NOT NULL,
        comentario TEXT,
        fecha DATE NOT NULL,
        FOREIGN KEY (producto_id) REFERENCES producto(id)
    )
'''
)

In [10]:
# cursor.execute('''DROP TABLE productos''')
# cursor.execute('''DROP TABLE categorias''')
# cursor.execute('''DROP TABLE fabricante''')
# cursor.execute('''DROP TABLE rese√±as''')

In [11]:
#cursor.execute('''ALTER TABLE rese√±as DROP COLUMN categoria_id''')

In [12]:
#conn.close()

---
## Paso 2: A√±adir informaci√≥n en la Base de Datos
---

#### Insertar datos en las tablas en nuestra base de datos:

In [13]:
# Insertar datos en la tabla fabricantes

In [14]:
#confirmar los cambios

In [15]:
# Insertar datos en la tabla categorias

In [16]:
#confirmar los cambios

In [17]:
# Insertar datos en la tabla productos

In [18]:
#confirmar los cambios

In [19]:
# Insertar datos en la tabla rese√±as

In [20]:
# Guardar los cambios y cerrar la conexi√≥n

---
# EJERCICIOS Y CONSULTAS EN SQL
---

In [21]:
#conectar a la base de datos SQLite

1. Obtener todos los productos.

In [22]:
# Ejecutar la consulta

# Obtener y mostrar los resultados

2. Obtener todos los productos que tienen un precio mayor a 100.

In [23]:

# Obtener y mostrar los resultados

3. Contar cu√°ntos productos hay en la base de datos.

In [24]:

# Obtener y mostrar los resultados

4. Listar los productos lanzados en el a√±o 2022.

In [25]:

# Obtener y mostrar los resultados

In [26]:

# Obtener y mostrar los resultados

5. Obtener el producto m√°s caro.

In [27]:
# Ejecutar la consulta


# Obtener y mostrar los resultados

In [28]:

# Obtener y mostrar los resultados

6. Calcular el precio promedio de todos los productos.

In [29]:
# Ejecutar la consulta

# Obtener y mostrar los resultados

7. Obtener los productos de la categor√≠a "Asistentes de Voz".

In [30]:
# Ejecutar la consulta


# Obtener y mostrar los resultados

8. Contar cu√°ntos productos tiene cada fabricante.

In [31]:
# Ejecutar la consulta


# Obtener y mostrar los resultados

9. Obtener las rese√±as del producto "Echo Dot".

In [32]:
# Ejecutar la consulta


# Obtener y mostrar los resultados

10. Obtener la puntuaci√≥n promedio de cada producto.

In [33]:
# Ejecutar la consulta


# Obtener y mostrar los resultados

11. Listar los fabricantes y el precio promedio de sus productos.

In [34]:
# Ejecutar la consulta




# Obtener y mostrar los resultados

12. Listar todas las categor√≠as con al menos un producto.

In [35]:
# Ejecutar la consulta


# Obtener y mostrar los resultados

13. Obtener el producto con la menor puntuaci√≥n en rese√±as.

In [36]:
# Ejecutar la consulta


# Obtener y mostrar los resultados

14. Listar las rese√±as de productos lanzados en 2021 o despu√©s.

In [37]:
# Ejecutar la consulta


# Obtener y mostrar los resultados

15. Contar el total de rese√±as por cada producto.

In [38]:
# Ejecutar la consulta


# Obtener y mostrar los resultados

16. Listar los productos que no tienen ninguna rese√±a.

In [39]:
# Ejecutar la consulta


# Obtener y mostrar los resultados

17. Obtener los productos con una puntuaci√≥n promedio mayor o igual a 4.

In [40]:
# Ejecutar la consulta

# Obtener y mostrar los resultados

18. Listar todos los productos junto con el pa√≠s de su fabricante.

In [41]:
# Ejecutar la consulta



# Obtener y mostrar los resultados

19. Obtener la fecha de la √∫ltima rese√±a para cada producto.

In [42]:
# Ejecutar la consulta


# Obtener y mostrar los resultados

20. Obtener el n√∫mero de rese√±as por mes para cada producto.

In [43]:
# Ejecutar la consulta

# Obtener y mostrar los resultados